<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <img src="/os/static/images/img.jpg" alt="">John Doe
            <span class=" fa fa-angle-down"></span>
          </a>
          <ul class="dropdown-menu dropdown-usermenu pull-right">
            <li><a href="javascript:;"> Profile</a></li>
            <li>
              <a href="javascript:;">
                <span class="badge bg-red pull-right">50%</span>
                <span>Settings</span>
              </a>
            </li>
            <li><a href="javascript:;">Help</a></li>
            <li><a href="/os/manage/security/loginReq"><i class="fa fa-sign-in pull-right"></i> Log In</a></li>
            <li><a href="/os/manage/security/logout"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
          </ul>
        </li>

        <li role="presentation" class="dropdown">
          <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-envelope-o"></i>
            <span class="badge bg-green" id="feedback-count">6</span>
          </a>
          <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
            <li>
              <a>
                <span class="image"><img src="/os/static/images/img.jpg" alt="Profile Image"/></span>
                <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image"><img src="/os/static/images/img.jpg" alt="Profile Image"/></span>
                <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image"><img src="/os/static/images/img.jpg" alt="Profile Image"/></span>
                <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
              </a>
            </li>
            <li>
              <a>
                <span class="image"><img src="/os/static/images/img.jpg" alt="Profile Image"/></span>
                <span>
                          <span>John Smith</span>
                          <span class="time">3 mins ago</span>
                        </span>
                <span class="message">
                          Film festivals used to be do-or-die moments for movie makers. They were where...
                        </span>
              </a>
            </li>
            <li>
              <div class="text-center">
                <a>
                  <strong>See All Alerts</strong>
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
<!-- /top navigation -->

<!-- jQuery -->
<script src="../../static/vendors/jquery/dist/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    query_feedback(1);
    var feedbackInterval = setInterval(function() {
        query_feedback(1);
    }, 60000);
  });
  function query_feedback(state) {
      // 发送后台
      $.get("/os/manage/feedback/countState", {
          state: state
      }).done(function (data) {
          if (data.code == 1) {
              $("#feedback-count").empty().append(data.data);
              console.log("feedback cound: "+data.data)
              // // 结果显示
              // var notice = new PNotify({
              //     title: '反馈总数',
              //     text: '查询到状态为（' + state + '）的反馈共有' + data.data + '条记录。',
              //     type: 'success',
              //     styling: 'bootstrap3',
              //     buttons: {
              //         closer: false,
              //         sticker: false
              //     }
              // });
              // notice.get().click(function () {
              //     notice.remove();
              // });
          } else {
              // 预警显示
              var notice = new PNotify({
                  title: '查询反馈数量失败',
                  text: '原因: ' + data.message,
                  type: 'warning',
                  styling: 'bootstrap3',
                  buttons: {
                      closer: false,
                      sticker: false
                  }
              });
              notice.get().click(function () {
                  notice.remove();
              });
          }

      }).fail(function (data) {
          error_notify("查询失败", "服务器内部错误。")
      });

  }
</script>